
.exchangeList{
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .kronaRatesContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .kronaRatesContainer h2{
    background: #DC493A;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: 0;
  }
  .kronaRatesContainer p{
    background: rgb(112, 38, 30);
    margin-top: 0;
    text-align: center;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: wheat;
    text-transform: uppercase;
  }
