.about{
    animation: slideDown .5s;
}

.about h2 {
    color: whitesmoke;
    background: #DC493A;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
}

.about ul{
    width: 90%;
    margin: 1rem auto;
    background: #006494;
    color: whitesmoke;
    padding:0;
    list-style:none;
    
}
.about li {
    padding: 1rem 0.5rem;
}

.about a{
    color: #DC493A;
    font-weight: bold;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}