.about h2 {
    color: white;
    background: #DC493A;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
}

.about ul{
    width: 90%;
    margin: 1rem auto;
    background: #006494;
    color: white;
    padding-left: 2rem;    
}
.about li {
    padding: 0.5rem;
    padding-left: 0;
}

.about a{
    color: tan;
    font-weight: bold;
}