
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: wheat;
    border-bottom: 1px solid black;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoContainer img {
    width:2rem;
    margin-right: 0.5rem;
}
.logoContainer span {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: bold;
}
.toggler {
    
    width:32px;
    height:26px;
    position: relative;
}
.toggler:hover{
    cursor: pointer;
}
.line1, .line2{
    display: block;
    background: black;
    width: 100%;
    height: 6px;
    position: absolute;
   
}
.line1 {
    top:0;
    transition: all 500ms;
}
.line2{
    top: 20px;
    transition: all 500ms;
}
.line1.open{
    top: 10px;
    transform: rotate(-135deg);

}
.line2.open{
    top: 10px;
    transform: rotate(135deg)
}
.inbetween {
    position: absolute;
    top:7.5px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    transition: all 500ms;
}
.inbetween.open{
    opacity: 0;
}

.navMenu{
    background: wheat;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s linear;
}
.navMenuShown{
    max-height: 500px;
}
.navMenu a {
    text-decoration: none;
    color: black;
    display:block;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navMenu a:hover{
    background: tan;
}