.shade{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn .5s;
    display: none;
}
.shadeShown {
    composes: shade;
    display: block;
}
.modal{
    background: wheat;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -160px;
    margin-top: -80px;
    width: 20rem;
}

.modal button {
    border: none;
    outline: none;
    background: #DC493A;
    padding: 0.5rem;
    display: inline-block;
    margin-right: 0.2rem;
    border-radius: 5px;
    color: white;
}
.modal button:hover{
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}