.modalContainer{
    background: wheat;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -160px;
    margin-top: -80px;
    width: 20rem;
    /* animation: fadeIn .5s; */
}
/* .modalContainerHidden{
    composes: modalContainer;
    display: none;
}
.modalContainerShown{
    composes: modalContainer;
    display: block;
} */
.modalContainer button {
    border: none;
    outline: none;
    background: #DC493A;
    padding: 0.5rem;
    display: inline-block;
    margin-right: 0.2rem;
    border-radius: 5px;
    color: white;
}
.modalContainer button:hover{
    cursor: pointer;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}